<%= estilo_cv %>
    <a href="/" class="btn boton tamaño_boton">
               Regresar
    </a>
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            
            <div class="container">

                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <%= render 'preview' %>                         
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
