

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      
        Profile &middot; Application theme &middot; Official Bootstrap Themes
      
    </title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link href="http://bootstrap-themes.github.io/application/assets/css/toolkit.css" rel="stylesheet">
    
    <link href="http://bootstrap-themes.github.io/application/assets/css/application.css" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>

  </head>


<body class="anf">


<div class="anp" id="app-growl"></div>

<nav class="ck pd ot app-navbar">
  <div class="by">
    <div class="os">
      <button type="button" class="ov collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="cv"></span>
        <span class="ow"></span>
        <span class="ow"></span>
        <span class="ow"></span>
      </button>
      <a class="e" href="/dashboard">
        worbe
      </a>
    </div>
    <div class="f collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav oh ald st">
          <li>
            <button class="cg fm oy ank" data-toggle="popover">
              <img class="cu" src="/application/assets/img/avatar-dhg.png">
            </button>
          </li>
        </ul>

        <ul class="nav navbar-nav su sv sw">
          <li><a href="#" data-action="growl">Growl</a></li>
          <li><a href="/application/login/">Logout</a></li>
        </ul>

        <ul class="nav navbar-nav hidden">
          <li><a href="#" data-action="growl">Growl</a></li>
          <li><a href="/application/login/">Logout</a></li>
        </ul>
      </div>
  </div>
</nav>


<div class="anr dj"
     style="background-image: url(http://bootstrap-themes.github.io/application/assets/img/iceland.jpg);">
  <div class="by">
    <div class="ans">
      <img class="cu qi" src="http://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png">
      <h3 class="anu">Juan Carlos Santiago</h3>
      <p class="ant">
        I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.
      </p>
    </div>
  </div>

  <nav class="anv">
    <ul class="nav om">
      <li >
        
      </li>
      <li class="active">
        <a href="#">Proyectos</a>
      </li>
      <li>
       
      </li>
    </ul>
  </nav>
</div>

<div class="by alw" data-grid="images">
  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="/application/assets/img/instagram_5.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_6.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_7.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_8.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_9.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_10.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="/application/assets/img/instagram_11.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_12.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="/application/assets/img/instagram_13.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_14.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_15.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_16.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_17.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_18.jpg">
  </div>

  <div>
    <img data-width="640" data-height="400" data-action="zoom" src="/application/assets/img/instagram_1.jpg">
  </div>

  <div>
    <img data-width="640" data-height="640" data-action="zoom" src="/application/assets/img/instagram_2.jpg">
  </div>
</div>


    <script src="http://bootstrap-themes.github.io/application/assets/js/jquery.min.js"></script>
    <script src="http://bootstrap-themes.github.io/application/assets/js/chart.js"></script>
    <script src="http://bootstrap-themes.github.io/application/assets/js/toolkit.js"></script>
    <script src="http://bootstrap-themes.github.io/application/assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
          while(BS.loader.length){(BS.loader.pop())()}
        }
      })
    </script>
  </body>
</html>

