<h1>Bienvenidos a worbe</h1>
<p>Busca a tu candidato ideal</p>



<h1>Crea tu cv de manera facil y rapida.</h1>
<p>Accede, actualiza y comparte tu Curriculum vitae</p>
<p>Accede desde aquí</p>
<a href="/users/sign_in" class="btn btn-info">Login</a>