<h1>Bienvenidos a worbe</h1>
<p>Busca a tu candidato ideal</p>

<%= form_tag hottags_path, :method => 'get' do %>
  <p>
   Buscar por Tag de interes <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
